<body [ngClass]="{'isRegister' : !isLogin, 'isLogin' : isLogin}">
    <div class="container-fluid login-container">
        <div class="content register-content">
            <!-- <div [@backgroundSlide]="isLogin ? 'login' : 'register'"></div> -->
            <div class="background-interactive" [@backgroundSlide]="isLogin ? 'login' : 'register'"></div>

            <div class="first-column">
                <h2 class="title title-primary">welcome back!</h2>
                <p class="description description-primary">To keep connected with us</p>
                <p class="description description-primary">please login with your personal info</p>
                <button (click)="onClickInSignIn()" class="btn btn-primary">sign in</button>
            </div> 

            <div class="second-column">
                <h2 class="title tittle-secondary">create account</h2>
                <p class="description description-secondary">or use your email for registration:</p>
                <form class="form">
                    <label class="label-input" for="">
                        <i class="fa-solid fa-user icon-modify"></i>
                        <input type="text" placeholder="Name">
                    </label>

                    <label class="label-input" for="">
                        <i class="fa-solid fa-envelope icon-modify"></i>
                        <input type="email" placeholder="Email">
                    </label>

                    <label class="label-input" for="">
                        <i class="fa-solid fa-lock icon-modify"></i>
                        <input type="password" placeholder="Password">
                    </label>

                    <button class="btn btn-secondary">
                        sign up
                    </button>
                </form> 
            </div> 
        </div> 

        <div class="content login-content">
            <div class="first-column">
                <h2 class="title title-primary">hello, friend!</h2>
                <p class="description description-primary">Enter your personal details</p>
                <p class="description description-primary">and start journey with us</p>
                <button (click)="onClickInSignUp()" class="btn btn-primary">sign up</button>
            </div> 

            <div class="second-column">
                <h2 class="title tittle-secondary">sign in to developer</h2>
                <p class="description description-secondary">or use your email account:</p>
                <form class="form">
                    <label class="label-input" for="">
                        <i class="fa-solid fa-envelope icon-modify"></i>
                        <input type="email" placeholder="Email">
                    </label>

                    <label class="label-input" for="">
                        <i class="fa-solid fa-lock icon-modify"></i>
                        <input type="password" placeholder="Passaword">
                    </label>

                    <div>
                        <a class="forgot-password" href="#">
                            Forgot your password?
                        </a>
                    </div>

                    <button class="btn btn-secondary">
                        sign in
                    </button>
                </form> 
            </div> 
        </div> 
    </div>
</body>