<app-monthly-summaries-container>
        <app-monthly-summary-card></app-monthly-summary-card>
        <app-monthly-summary-card></app-monthly-summary-card>
        <app-monthly-summary-card></app-monthly-summary-card>
        <app-monthly-summary-card></app-monthly-summary-card>
        <app-monthly-summary-card></app-monthly-summary-card>
        <app-monthly-summary-card></app-monthly-summary-card>
        <app-monthly-summary-card></app-monthly-summary-card>
        <app-monthly-summary-card></app-monthly-summary-card>
        <app-monthly-summary-card></app-monthly-summary-card>
        <app-monthly-summary-card></app-monthly-summary-card>
        <app-monthly-summary-card></app-monthly-summary-card>
        <app-monthly-summary-card></app-monthly-summary-card>
</app-monthly-summaries-container>