.empty-list-text {
  margin: 50px;
}

.spacer {
  flex: 1 1 auto;
}

.add-button {
    transition: background-color .5s ease;
}

.add-button:hover {
    background-color: #58af9b;
}

.toolbar {
    margin-top: 10px;
    background-color: #ffff;
}

.informating-text {
    font-family: "Poppins", sans-serif;
}
