.monthly-summary-card {
    border-radius: 8px;
    padding: 16px;
    background-color: #ffff;
    cursor: pointer;
    border: 2px solid rgba(0, 0, 0, 0.12);
}

.card-title {
    font-weight: bold;
    font-family: "Poppins", sans-serif;
}