<div class="card monthlySummary-card" [@hoverCard]="hoverState" (mouseenter)="hoverState = 'hover'" (mouseleave)="hoverState = 'neutral'">
    <h5 class="fw-bold mb-3">{{ titulo }}</h5>

    <p class="text-success fw-semibold">
        Renda Total: {{ rendaTotal | currency:'BRL' }}
    </p>

    <p class="text-danger fw-semibold">
        Total Gasto: {{ totalGasto | currency:'BRL' }}
    </p>

    <hr>

    <p class="fw-bold">
        Saldo:
        <span [ngClass]="{ 'text-success': saldo >= 0, 'text-danger': saldo < 0 }">
            {{ saldo | currency:'BRL' }}
        </span>
    </p>
</div>