<h3 mat-dialog-title>Registrar Movimentação</h3>
<mat-divider class="my-1"></mat-divider>
<mat-dialog-content>
    <app-forms-container>
        <form [formGroup]="transactionForm">
            <mat-form-field class="form-field" floatLabel="always">
                <mat-label>
                    Valor
                </mat-label>
                <input matInput type="number" class="amont-input" placeholder="0" formControlName="amont" />
                <span matTextPrefix>$&nbsp;</span>
            </mat-form-field>

            <mat-form-field class="form-field">
                <mat-label>Categoria</mat-label>
                <mat-select required formControlName="category">
                    @for (category of categories; track category) {
                    <mat-option [value]="category"> {{ category }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>

            <mat-form-field class="form-field" appearance="fill">
                <mat-label>Escolha uma data</mat-label>
                <input matInput required [matDatepicker]="picker" formControlName="transactionDate">
                <mat-datepicker-toggle matIconSuffix [for]="picker" />
                <mat-datepicker #picker />
            </mat-form-field>

            <div class="checkbox-area">
                <h6>Tipo:</h6>
                <mat-checkbox class="example-ripple-checkbox" value="isExpense">
                    Despesa
                </mat-checkbox>

                <mat-checkbox class="example-ripple-checkbox" value="isIncome">
                    Renda
                </mat-checkbox>
            </div>

            <mat-form-field class="description-form-field" appearance="outline" >
                <mat-label>Descrição</mat-label>
                <textarea 
                    matInput required 
                    class="text-area-input" 
                    formControlName="description" 
                    (blur)="updateErrorMessage()">
                </textarea>
                @if (transactionForm.get('description')?.errors?.['required'] && transactionForm.get('description')?.touched) {
                    <mat-error>
                        {{ errorMessage }}
                    </mat-error>
                }
            </mat-form-field>
        </form>
    </app-forms-container>
</mat-dialog-content>
<mat-divider class="my-1"></mat-divider>
<mat-dialog-actions>
    <button class="btn btn-sm btn-save btn-common">
        Salvar
    </button>
    <button (click)="onClickCancel()" class="btn btn-sm btn-cancel btn-common">
        Cancelar
    </button>
</mat-dialog-actions>