<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>{{ description }}</mat-panel-title>
        <mat-panel-description>
            <span 
                [ngClass]="{ 'text-success': type == 'renda', 'text-danger': type == 'despesa' }">
                {{ amont | currency : "BRL" }}
            </span>
        </mat-panel-description>
    </mat-expansion-panel-header>
    <p><strong>Data:</strong>
        {{ _transactionDate }}
    </p>
    <p><strong>Categoria:</strong>
        {{ category }}
    </p>
</mat-expansion-panel>