<mat-expansion-panel *ngIf="transaction() as transaction">
    <mat-expansion-panel-header>
        <mat-panel-title>{{ transaction.description }}</mat-panel-title>
        <mat-panel-description>
            <span 
                i18n
                [ngClass]="{ 'text-success': transaction.type == 2, 'text-danger': transaction.type == 1 }">
                {{ transaction.amont | currency }}
            </span>
        </mat-panel-description>
    </mat-expansion-panel-header>
    <p i18n>
        <strong>Data:</strong>
        {{ transaction.transactionDate | date}}
    </p>
    <p i18n>
        <strong>Categoria:</strong>
        {{ transactionCategoryName() }}
    </p>
</mat-expansion-panel>