<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>{{ transaction.description }}</mat-panel-title>
        <mat-panel-description>
            <span 
                [ngClass]="{ 'text-success': transaction.type == 2, 'text-danger': transaction.type == 1 }">
                {{ transaction.amont | currency : "BRL" }}
            </span>
        </mat-panel-description>
    </mat-expansion-panel-header>
    <p><strong>Data:</strong>
        {{ formattedDate() }}
    </p>
    <p><strong>Categoria:</strong>
        {{ category() }}
    </p>
</mat-expansion-panel>