.header {
    background-color: #58af9b;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}

.common-button {
    transition: transform 0.3s ease;
}

.common-button:hover {
    transform: scale(1.05);
}

.default-font-family {
  font-family: "Poppins", sans-serif;
  margin-left: 5px;
}

