<mat-toolbar class="transactions-toolbar">
    <h2>Transações</h2>
    <span class="spacer"></span>
    <div class="filters">
        <mat-form-field appearance="outline">
            <mat-label>Filtrar por</mat-label>
            <mat-select value="all">
                <mat-option value="all">Todas</mat-option>
                <mat-option value="income">Renda</mat-option>
                <mat-option value="expense">Gastos</mat-option>
            </mat-select>
        </mat-form-field>
        <button class="btn add-button">
            <i class="fa-solid fa-plus"></i>
        </button>
    </div>
</mat-toolbar>