.monthly-summaries-container {
    margin: 100px;
    padding: 20px;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    flex-shrink: initial;
}

@media screen and (max-width: 1024px) {
    .monthly-summaries-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 850px) {
    .monthly-summaries-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 650px) {
    .monthly-summaries-container {
        grid-template-columns: repeat(1, 1fr);
        margin: 50px;
    }
}